*{ margin: 0; padding: 0;}
a{ color: #3c3c3c; text-decoration: none;}
a:hover{ color: #ff4400;}
li{ list-style: none;}
img{ border: 0 none; vertical-align: top; /*垂直对齐，行块元素有效*/}
body{ font-size: 12px; color: #3c3c3c; font-family: '宋体';}
/*公共*/
.layer{ width: 333px; margin: 0 auto;}
.clearfix:before,.clearfix:after{ content: ''; display: table;} /*清浮动，margin重叠问题*/
.clearfix:after{ clear: both;}
.yellow{ color: #ff4400;}
.yellow:hover{ text-decoration: underline;}
/*主要*/
.imageText{ padding-top: 20px; border-top: #eeeeee 1px dashed; margin-top: 19px;}
.imageText li{ float: left; width: 103px; margin-right: 6px;}
.imageText li span {display: block; text-align: center; margin-top: 14px; line-height: 16px;}
.text{ margin-top: 8px; }
.text li{ float: left; width: 162px; height: 25px; line-height: 25px;}